@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-link, .btn-link:hover, .btn-link:visited {
  color: #ffffff;
  text-decoration: none;
}

.btn {
  min-height: 50px;
}

.App {
  height: 100vh;
}

.ellipsis {
  @apply overflow-hidden text-ellipsis whitespace-nowrap block;
}