@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  @apply box-border;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
}

body {
  @apply p-0 m-0 box-border;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
}

p, span {
  @apply text-gray-500;
}

::-webkit-scrollbar {
  @apply w-[7px] h-[5px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}
 
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-[10px];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

.app {
  @apply h-[100vh] relative flex flex-col justify-center;
}

.header {
  @apply fixed max-h-[10vh] z-10;
}

.body {
  @apply m-auto relative z-0 p-0
}

.footer {
  @apply flex m-auto justify-center items-center w-full max-h-[10vh] fixed bottom-0 p-2
}

.btn {
  @apply min-h-[50px]
}

.btn-icon {
  @apply cursor-pointer box-content p-2 rounded-full hover:bg-gray-100 outline-0
    text-gray-700;
  -webkit-tap-highlight-color:  transparent;
}

.ellipsis {
  @apply overflow-hidden text-ellipsis whitespace-nowrap block;
}

.bg-primary {
  @apply bg-gray-800 !important;
}

.moods-container::-webkit-scrollbar {
  @apply hidden;
}

.container {
  @apply flex flex-col gap-[15vh] scroll-smooth;
}

.item {
  @apply h-[80vh] w-full bg-white sticky top-[10vh] rounded-[20px];
  box-shadow: 0px 0px 4px 0px rgba(69,69,69,0.1);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(69,69,69,0.1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(69,69,69,0.1);
}

.item:last-child {
  @apply mb-[9.9vh];
}

.post-details-container {
  @apply absolute z-10 text-white p-2 flex content-center items-center gap-3
}

.post-profile {
  @apply w-[60px] h-[60px] aspect-square object-cover rounded-full;
}

.post-image-container {
  @apply relative z-0 flex flex-col justify-center items-center h-full w-full;
}

.post-image {
  @apply w-full h-full object-cover rounded-[20px] brightness-[0.8];
}