@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  @apply box-border;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
}

body {
  @apply p-0 m-0 box-border;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !important;
}

p, span {
  @apply text-gray-500;
}

::-webkit-scrollbar {
  @apply w-[7px] h-[5px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}
 
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-[10px];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

.app {
  @apply h-[100vh] relative flex flex-col justify-center;
}

.header {
  @apply fixed max-h-[10vh] h-full z-10 bg-white flex justify-center items-center p-2;
}

.body {
  @apply m-auto relative z-0 p-0
}

.no-header {
  @apply top-0 !important;
}

.footer {
  @apply flex m-auto justify-center items-center w-full max-h-[10vh] fixed bottom-0 p-2
}

.active {
  @apply text-gray-100 bg-gray-700 !important;
}

.btn {
  @apply min-h-[50px]
}

.btn-icon {
  @apply cursor-pointer box-content p-2 rounded-full hover:bg-gray-100 outline-0
    text-gray-700;
  -webkit-tap-highlight-color:  transparent;
}

.ellipsis {
  @apply overflow-hidden text-ellipsis whitespace-nowrap block;
}

.bg-primary {
  @apply bg-gray-800 !important;
}

.moods-container::-webkit-scrollbar {
  @apply hidden;
}

.container {
  @apply flex flex-col gap-[15vh] scroll-smooth;
}

.item {
  @apply h-[90vh] bg-white sticky top-[10vh];
}

.item:last-child {
  @apply mb-0;
}

.post-details-container {
  @apply absolute z-10 text-white p-2 pb-5 flex content-center items-center gap-3 w-full h-[100px]
}

.post-profile {
  @apply w-[60px] h-[60px] aspect-square object-cover rounded-full relative top-2;
}

.post-image-wrapper {
  @apply flex flex-col justify-center items-center h-full;
}

.post-image-container {
  @apply relative z-0 flex-col justify-center items-center h-full w-full bg-primary;
}

.post-image-container img, .post-image-container video {
  @apply w-full;
}

.slide-thumb-item {
  @apply bg-gray-400 rounded h-[3px] w-full relative overflow-hidden
}

.prev-slide {
  @apply bg-gray-500
}

.slide-thumb-item.slide-active::after {
  @apply bg-gray-500 rounded h-[3px] w-full block;
  animation: thumb 5s forwards linear;
  content: '';
  height: inherit;
  transform: translateX(-100%);
}

@keyframes thumb {
  to {
      transform: initial;
  }
}

.overlay-top {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to bottom, 
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.4), 
    rgba(0,0,0,0.3), 
    rgba(0,0,0,0.2), 
    rgba(0,0,0,0.1), 
    rgba(0,0,0,0));
}

.overlay-bottom {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top, 
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.4), 
    rgba(0,0,0,0.3), 
    rgba(0,0,0,0.2), 
    rgba(0,0,0,0.1), 
    rgba(0,0,0,0));
}